<h1>TinyApp URL Shortener</h1>

<% if (user) {%>
  <%= user.email %>
  <form method="POST" action="/logout">
  <input type="submit" value="Logout">
  </form>
<% } else { %>
  <form method="POST" action="/login">
    <input id="username" type="text" name="username">
    <input type="submit" value="Login">
  </form>
<% } %>