<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body>

<header>
  <% include ./partials/_header %>
</header>

<main>
  <h2>Your URL</h2>

  <h3>Original Long URL</h3>
  <p><%= longURL %></p>
  <h3>Shortened URL</h3>
  <p><%= shortURL %></p>
  <br>
  <form method="POST" action="/urls/<%=shortURL%>">
    <label for="longURL">Edit your URL:</label>
    <input id="longURL" type="text" name="longURL" value="<%= longURL %>" style="width: 300px">
    <input type="submit" value="Submit">
  </form>

</main>

</body>
</html>